.navbar {
  height: 9vh;
  font-size: 1.5rem;
}

main {
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1.5rem auto;
  text-align: center;
}

.about-blocks {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: 1px 1px 4px black;
  background-color: white;
  border: 1px solid rgb(116, 192, 255);
}

.heading {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
  background-color: rgb(230, 244, 255);
  padding: 0 0.5rem;
  border-radius: 6px;
}

.content {
  margin: 1rem;
}

.role {
  text-decoration: underline;
}

.external-links {
  color: black;
  text-decoration: none;
}
.external-links:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .heading {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .about {
    width: 90%;
  }
  .content {
    margin: 1rem 0;
  }
}
